.editable-item-container {
  flex-wrap: wrap;
  /* width: 100%; */
  border: 1px solid var(--neutral-300);
  border-radius: 16px;
  padding: 16px;
  margin: 16px;
  gap: 8px;
}
.editable-wrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

@media (min-width: 1920px) {
  .editable-item-container {
    min-width: 600px;
  }
}

.product-info-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 8px;
}
.bottom-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
@media (max-width: 430px) {
  .bottom-section {
    place-items: end;
    flex-direction: column;
    row-gap: 8px;
  }
}
.discount-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  height: fit-content;
}

.action-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.summary-container {
  flex-wrap: wrap;
  padding: 16px;
  margin: 16px;
  gap: 8px;
}

.text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
@media (min-width: 992px) {
  .summary-container {
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
  }
}
