.stepper-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  /* margin-bottom: 8px; */
  background-color: var(--neutral-100);
  padding: 4px;
  border: 1px solid var(--neutral-300);
  border-radius: 12px;
  gap: 24px;
  font-weight: 700;
  height: 40px;
}

.increate-btn {
  left: 12px;
  width: 20px;
  pointer-events: none;
  border-radius: 4px;
  background-color: var(--purple-500);
  padding: 2px;
}
.decreate-btn {
  right: 12px;
  width: 20px;
  height: 20px;
  pointer-events: none;
  border-radius: 4px;
  background-color: var(--purple-500);
  padding: 2px;
}

.icon-btn {
  width: 30px;
  height: 30px;
  border: 1px solid var(--purple-300);
  border-radius: 8px;
  background-color: var(--neutral-100);
  padding: 4px;
}

.primary-btn {
  border-radius: 12px;
  background-color: var(--green-400);
  border: 0px;
  height: 44px;
  padding: 1px 24px;
  color: var(--neutral-100);
  font-family: NotoSansThai;
  font-size: 18px;
}
.secondary-btn {
  border-radius: 12px;
  background-color: var(--neutral-100);
  border: 1px solid var(--neutral-300);
  height: 44px;
  padding: 1px 24px;
  font-family: NotoSansThai;
  font-size: 18px;
}
