.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  /* width: 75%; */
  margin-bottom: 8px;
}

.container {
  width: 100%;
  height: 40px;
  border: 1px solid var(--neutral-300);
  border-radius: 12px;
  font-size: 14px;
  font-family: NotoSansThai;
  padding-inline: 16px;
}

.container:focus {
  border: 1.5px solid var(--green-300);
  outline: none;
}
